@charset "UTF-8";

テーブルサイズ
/*#mainTable{
	background-color: #FFF0E6;
	border: solid 1px;
	border-color: #ff5050;
	height: auto;
	max-width: 1200px;
	max-height: 800px;
}*/
body{
	background-color: #ffffff;
}
#mainTable{
	background-color: #FFF0E6;
	border: solid 1px #ff5050;
	height: auto;
	max-width: 1200px;
	max-height: 800px;
}
#row1,#row2,#row3,#row4,#row5,#row6{
	background-color: #FFF0E6;
	border: solid 1px #ff5050;
	height: auto;
	
}
/*tr.minitable{
	height: 500px;
}
.mainTable, td{
	background-color: #FFFAEB;
	border:  solid 1px #ff5050;
}*/
.ColLeft{
	background-color: #FFFAEB;
	border:  solid 1px #ff5050;
	position: relative;
	font-size: 20px;
	width: 230px;
	height: 50px;
}
.ColRight{
	background-color: #FFFAEB;
	border:  solid 1px #ff5050;
	font-size: 30px;
	width: 970px;
	height: 50px;
}
.upperinput{
	width: 200px;
	height: 35px;
	margin-left: 5px;
	margin-bottom: 5px;
}
td input.check{
	width: 15px;
	height: 15px;
}
label{
	font-size: 20px;
	margin-left: 10px;
}
button{
	font-size: 15px;
	width: 95px;
	height: 45px;
}
.messageColunm{
	width: 500px;
	margin-left: 300px;
	margin-bottom: 0px;
}
.col{
	background-color: #FFFAEB;
	vertical-align: baseline;
	height: 250px;
	border: solid 1px red;
}
.back{
	margin-top: 3px;
	margin-left: 5px;
	font-size: 15px;
	width: 95px;
	height: 35px;
	/*padding: 10px 25px;*/
	padding-top: 12px;
	border: solid #4f4f4f 1px;
	border-radius: 3px;
    background: #e5e5e5;
    color: black;
    text-decoration: none;
    text-align: center;
}
.delete{
	width: 75px;
	height: 39px;
	margin-top: 15px;
	margin-left: 15px;
}

.buttons{
	display: flex;
    justify-content: space-between; /* 両端に要素を配置 */
    align-items: center;            /* 垂直方向に中央揃え */
    gap: 10px;                      /* 要素間のスペース */
}

.backAndMessages{
	display: flex;
    flex-direction: row;  /* メッセージ欄を横に並べる */
    gap: 5px;                /* 各メッセージ欄の間隔 */
}

.searchAndClear{
	display: flex;
    gap: 10px;        /* ボタン間のスペース */
}

.clear{
	margin-right: 15px;
}

/*table.secondTable{
	overflow-x: auto;
	height: auto;
	margin-top: 15px;
	margin-right: 40px;
	margin-left: 40px;
	max-width: 1100px;
	
}
th.second{
	background-color: #e1e1ff;
	border: solid 3px #cecece;
	padding: 0px;
	height: 50px;
	text-align: start;
}*/


/*th.secondth1{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth2{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth3{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth4{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth5{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth6{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth7{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth8{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth9{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/
/*th.secondth10{*/
/*	background-color: #e1e1ff;*/
/*	border: solid 3px #cecece;*/
/*	padding: 0px;*/
/*	width: 60px;*/
/*	height: 50px;*/
/*}*/

.box.inner{
	display: flex;
}
.inner dl{
	width: auto;
}

td.second{
	background-color: #f5f5ff;
	border-top: solid 2px #cecece;
	border-bottom: solid 2px #cecece;
	height: 50px;
}
td.second2{
	background-color: #ffffff;
	border-top: solid 2px #cecece;
	border-bottom: solid 2px #cecece;
	height: 50px;
}

#pagination{
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2C7CFF;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.5em;
    cursor: pointer;
}

.pagination .count {
    font-weight: normal;
    color: #000000;
    background-color: #FFFFFF;
}

#pagination_content{
    text-align: center;
}

.box{
	overflow-x: scroll;
	margin-bottom: 25px;
	margin-left: 25px;
	width: 1170px;
}

#subTable{
	overflow-x: scroll;
	margin-bottom: 25px;
	margin-left: 25px;
	width: 1300px;
}



/*.flex-row1{
	background-color: #e1e1ff ;
	display: flex;
	gap: 1px;
	height: 40px;
	border: solid 2px #cecece;
	text-align: center;
	align-items: center;
}
.flex-row2{
	background-color: #f5f5ff;
	display: flex;
	gap: 1px;
	border-right:solid 2px #cecece ;
	border-bottom: solid 2px #cecece;
	border-left: solid 2px #cecece;
	text-align: center;
	align-items: center;
	height: 40px;
}
.flex-row3{
	background-color: #ffffff ;
	display: flex;
	gap: 1px;
	height: 40px;
	border-right:solid 2px #cecece ;
	border-bottom: solid 2px #cecece;
	border-left: solid 2px #cecece;
	text-align: center;
	align-items: center;
}*/
#col1,#colhead1{
	width: 50px;
	text-align: center;
}
#col2,#colhead2{
	width: 80px;
	text-align: center;
}
#col3,#colhead3{
	width: 170px;
	text-align: center;
}
#col4,#col6,#col7,#col8,#colhead4
,#colhead6,#colhead7,#colhead8{
	width: 120px;
	text-align: center;
}
#col5,#colhead5{
	width: 190px;
	text-align: center;
}
#col9,#colhead9{
	width: 200px;
	text-align: center;
}
#col10,#colhead10{
	width: 200px;
	text-align: center;
}
#col11,#colhead11{
	width: 160px;
	text-align: center;
}
#colhead1{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
/*	border-top: solid 2px #cecece;*/
/*	border-right: solid 2px #cecece;*/
/*	border: solid 2px #cecece;*/
}
#colhead2{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead3{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead4{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead5{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead6{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead7{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead8{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead9{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead10{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}
#colhead11{
	background-color: #e1e1ff ;
	border :solid 1px #cecece;
}